__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.local
.env.prod
*.egg-info/
dist/
.ruff_cache/
.pytest_cache/
.coverage
.idea/
.vscode/
*.swp
*.swo
appsettings.json
deploy.zip
startup.txt
.deployment
tazkera.egg-info/.env.backup
